<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Me Chamou o lugar para encontrar o profissional para tua necessidade.">
    <meta name="author" content="Eziquiel Santos, Eliezer Castro, Robson">
    <meta name="docsearch:language" content="pt-br">
    <meta name="docsearch:version" content="4.3">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
      <link rel="stylesheet" href="/css/style.css">

    <title>Me Chamou | Seu profissional esta aqui</title>

    <link rel="icon" href="/img/favicon-310x310.png">
  </head>
  <body>



    {{> _navbar}}
    {{> _msg}}
    {{> _errors}}

  <main>
         {{{body}}}
</main>

  </body>
</html>
